In [7]:
import eikon as ek
import pandas as pd
ek.set_app_key("11d0a9cec8354b79845f5cd85bbe20a6c44521b7")

ric_dict = {"LCOc1": "brent",
            "WTCLc1":"wti"}

rics = list(ric_dict.keys())

start_date = "2010-01-01"
end_date = "2020-03-28"

interval_list = ["daily", "minute", "hour"]

# https://docs-developers.refinitiv.com/1583406055801/14684/book/en/eikon/index.html#get_timeseries
for interval in interval_list:
    df = ek.get_timeseries(rics, start_date=start_date, end_date = end_date, interval = interval)
    
    # Rename columns into name instead of RICs
    rename_col = list(df.columns)
    for i, t in enumerate(rename_col):
        s = list(t)
        s[0] = ric_dict.get(s[0])
        rename_col[i] = tuple(s)
        
    df.columns = pd.MultiIndex.from_tuples(rename_col)
    df.index.name = "timestamp"
    df.to_csv(interval + ".csv")

### Tick data

In [6]:

for r in rics:
    df = ek.get_timeseries(r, start_date=start_date, end_date = end_date, interval = "tick")
    df.index.name = "timestamp"
    df.reset_index(inplace = True)
    df.to_csv(ric_dict.get(r) + "_tick.csv")

In [8]:
snp_benchmark = ek.get_timeseries(".SPX", start_date=start_date, end_date = end_date, interval = "daily")
snp_benchmark.("daily_spx.csv")

.SPX                    HIGH      LOW     OPEN    CLOSE   COUNT
Date
2019-03-29 14:00:00  2832.39  2824.08  2828.27  2828.12  1799.0
2019-03-29 15:00:00  2829.89  2819.23  2828.09  2822.33  3600.0
2019-03-29 16:00:00  2830.43  2822.30  2822.30  2826.45  3600.0
2019-03-29 17:00:00  2828.83  2822.26  2826.47  2827.82  3600.0
2019-03-29 18:00:00  2828.60  2824.33  2827.83  2827.17  3600.0
...                      ...      ...      ...      ...     ...
2020-03-27 18:00:00  2580.88  2546.59  2559.84  2565.86  3600.0
2020-03-27 19:00:00  2585.08  2558.66  2565.77  2584.90  3600.0
2020-03-27 20:00:00  2615.91  2534.99  2584.77  2540.21  3600.0
2020-03-27 21:00:00  2541.48  2541.12  2541.12  2541.47  1201.0
2020-03-27 22:00:00  2541.47  2541.47  2541.47  2541.47     1.0

[2156 rows x 5 columns]

In [11]:
us10y_benchmark = ek.get_timeseries("US10YT=RR", start_date=start_date, end_date = end_date, interval = interval)
us10y_benchmark

US10YT=RR              HIGH     LOW    OPEN   CLOSE   COUNT
Date
2019-03-29 17:00:00  2.4227  2.4086  2.4174  2.4121   178.0
2019-03-29 18:00:00  2.4139  2.4050  2.4121  2.4050   168.0
2019-03-29 19:00:00  2.4210  2.4033  2.4068  2.4139   190.0
2019-03-29 20:00:00  2.4157  2.4015  2.4121  2.4015   194.0
2019-03-29 21:00:00  2.4103  2.4015  2.4033  2.4068   146.0
...                     ...     ...     ...     ...     ...
2020-03-27 18:00:00  0.7472  0.7314  0.7472  0.7440  1134.0
2020-03-27 19:00:00  0.7519  0.7314  0.7456  0.7440  1074.0
2020-03-27 20:00:00  0.7456  0.6699  0.7456  0.6919  1662.0
2020-03-27 21:00:00  0.7014  0.6746  0.6919  0.6825  1244.0
2020-03-27 22:00:00  0.6872  0.6715  0.6809  0.6762    88.0

[5660 rows x 5 columns]